*{
    font-family: sans-serif;
    padding: 0rem;
    margin: 0rem;
}
nav{
    background-color:hsl(200deg, 50%, 50%);
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
}
a{
    width:100%;
    font-size:3rem;
    margin-right: 9rem;
    color:hsl(200deg, 100%, 100%);
    text-decoration: none;
}
#link-1{
    text-decoration: underline;
}
header{
    background-image: url(../img/800.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 3rem;
    border-top: 30px solid hsl(200deg, 0%, 0%);
    margin: 0rem 1rem 1rem 1rem;
    padding: 50px 0px;
}
header h1{
    color: hsl(200deg, 40%, 55%);
    padding: 3rem 1rem;
    text-shadow: 4px 3px blue; 
}
header h2{
    color: hsl(200deg, 100%, 15%);
    padding: 1rem;
    text-shadow: 1px 1px white;
}
main{
    margin: 2rem 2rem;
}
main h1{
    font-size: 3rem;
    color: hsl(200deg, 50%, 50%);
}
main p{
    padding: 1rem 0rem;
    line-height: 1.6;
}
main h2{
    font-size: 1.5rem;
    color: hsl(200deg, 50%, 50%);
    padding-bottom: 1rem;
}
main ul{
    line-height: 1.5;
    font-size: 1rem;
    list-style-position: inside;
}